<!DOCTYPE html>
<html lang="en">
<head>
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>URL Details</title>
</head>
<body>
  <%- include('partials/_header', { email: email }) %>

  <h1>URL Details</h1>
  
  <p>Long URL: <%= longURL %></p>
  <p>Short URL ID: <%= id %></p>

    <!-- Deletion -->
    <form method="POST" action="/urls/<%= id %>">
      <label for="newLongURL">New Long URL:</label>
      <input type="text" id="newLongURL" name="newLongURL" value="<%= longURL %>">
      <button type="submit">Update</button>
    </form>


  <p><a href="#">Create a new URL</a></p>
</body>
</html>